h3 {
  font-family: "Angsana New";
  font-size: 130%;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid orangered;
}

.button1:hover {
  background-color: orangered;
  color: white;
}

label, input , select  {
  font-family: "Angsana New";
  font-size: 70%;
}
input[type=button]{
  font-family: "Angsana New";
  font-size: 100%;
}
select{
  width: 83%;
  height: 60px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=text], textarea {
  width: 50%;
  padding: 12px;
  font-size: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

body {
  font-family: "Angsana New", sans-serif;
  font-size:30px;}

.w3-bar-block .w3-bar-item {
padding: 16px;
font-weight: bold;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: orangered;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

input[type=submit]:hover {
  background-color: orangered;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 14px;
}

.col-33 {
  float: left;
  width: 33%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75 ,input[type="text"] {
    width: 100%;
    margin-top: 0;
  }
}

/* sidebar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: orangered;
  color: white;
}

li a.activeli {
  background-color: rgb(255, 104, 49);
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* --- */

/* footer */
footer {
  position: fixed;
  left: 1;
  width: 77%;
  bottom: 0;
  padding: 0px;
  background-color: orangered ;
  color: white;
}
/* ---- */


